{% extends "layout.html" %}

{% block title %} MY TODO´S LIST {% endblock %}

{% block content %}

<div class="container-body">
  <div class="jumbotron">
    <h1 class="display-4">About this Web API</h1><br>
    <p class="lead">I made this web API as a project for my DataArt training internship. It's a simple application
        to perform CRUD operations over a list of TODO'S. Each TODO is entered in a Database which
      stores and provides the information needed.</p>
    <hr class="my-4">
    <p>Having a hard time remembering pending issues?... Need to get organized?... Let's get Started! :)</p>
    <a class="btn btn-primary btn-lg" href="/form" role="button">New TODO</a>
  </div>
</div>

{% endblock %}